@model Order

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Document</title>
</head>
<body>
<form  asp-action="AddToBasket" method="post" >
 
    <div class="container">
        <div class="contact-box">
            <div class="left"></div>
            <div class="right">
                <h2>Contact Us</h2>
               @* <input asp-for="Name" class="field" placeholder="Name"/>*@
                <input asp-for="Phone" placeholder="Phone" class="field">
                <input asp-for="Product.Name" class="field" placeholder="Name of Product" readonly>
                <input  asp-for="Product.Description"  class="field" placeholder="Description" readonly>
                <input  asp-for="Product.Price"  class="field" placeholder="Price" readonly >
                    


                <button class="btn" type="submit">Click</button>

            </div>
        </div>
    </div>
</form>
</body>
</html>
