@model IEnumerable<Order>





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Coffe Website</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"/>

    <!-- Link to JS -->
    
</head>
<body>
<!-- Navbar -->
   

<!-- Products -->
<section class="product" id="product">
    <div class="heading">
        <h2>Orders Admin Page</h2>
    </div>
     <div class="basket">
                 
                  <a asp-action="Index" asp-controller="Home"><i class='bx bx-home'></i></a>
                
    
     </div>
    @foreach (var item in Model)
    {
        <div class="products-container">
            <div class="box">
                <img src="@item.Product.Image" alt="">
                <h3>@item.Name</h3>
                <h3>Product Name:@item.Product.Name</h3>
                <p>@item.Phone</p>
                <div class="content">
                    <span>$@item.Product.Price</span>
                   
                    <form asp-action="AcceptOrder" method="post" asp-route-id="@item.Id">
                        <button>Accept</button>
                    </form>
                        

                       
                    
                             
                            
                </div>
            </div>

        </div> 
    }
    <!-- Container -->


</section>




</body>
</html>

