@using Coffee_Shop.ViewModels

@model LoginViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"/>


 </head>
 <body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form autocomplete="on" method="post" asp-controller="Account" asp-action="Login">
                     <div asp-validation-summary="All" class="text-danger text-center"></div>
                    <h2>Login</h2>
                    
                            <div class="inputbox">
                                <input asp-for="Name" placeholder="Name" type="text"/>
                            </div>
                            <div class="inputbox">
                                <input autocomplete="new-password" placeholder="Password" asp-for="Password"  type="password"/>
                            </div>


                                <button class="btn btn-success btn-light float-right" onclick="checkInputs()">Send</button>
                                <a asp-controller="Account" asp-action="Register">Register</a>
                </form>
            </div>
        </div>
    </section>

 

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
 </body>
</html>


